body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* table {
    border-collapse: collapse;
    width: 500px;
  }
  
  th, td, tr {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    text-align: left;
    background-color: #f2f2f2;
  } */

.user-row {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
}

/* form { 
    padding: 10px;
}

input, select { 
    margin: 10px;
}

button {
    margin: 10px;
} */
