/* table {
    border-collapse: collapse;
    width: 500px;
  }
  
  th, td, tr {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    text-align: left;
    background-color: #f2f2f2;
  } */
  
  .user-row {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
/* form { 
    padding: 10px;
}

input, select { 
    margin: 10px;
}

button {
    margin: 10px;
} */